.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  min-height: 100vh;
}

/**
  * Header
  */
header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
}

header .title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

/**
  * Main
  */
main {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1rem;
  padding: 1rem 2rem;
}

main .title {
  font-weight: 600;
  text-transform: uppercase;
}

main > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main > div p {
  margin: 0.5rem 0;
  text-align: justify;
}

/**
  * Interact
  */
.interact-actions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.interact-actions .action {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.interact-actions .number {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 0.5rem 2rem;
}

.interact-actions .number .box {
  padding: 0.2rem 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
}

/**
  * Footer
  */
footer {
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
