.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/**
  * Header
  */
header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
}

header .title {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

/**
  * Main
  */
main {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 1rem;
  padding: 1rem 2rem;
}

main .title {
  font-weight: 600;
  text-transform: uppercase;
}

main > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

main > div p {
  margin: 0.5rem 0;
}

/**
  * Footer
  */
footer {
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
